@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gotham-Bold';
  src: url('./shared/fonts/Gotham-Medium.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham-Book';
  src: url('./shared/fonts/Gotham-Light.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Gotham-Medium';
  src: url('./shared/fonts/Gotham-Book.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Trailblazer-Light';
  src: url('./shared/fonts/trailblazerh-light.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'Trailblazer-Bold';
  src: url('./shared/fonts/trailblazerh-demibold.woff');
  font-weight: normal;
}