name: publish

on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  release:
    name: publish
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: node
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: 16
      - name: publish
        uses: JS-DevTools/npm-publish@v2
