name: publish

on:
  push:
    tags:
      - 'v*'
    branches:
      - master

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: node
        uses: actions/setup-node@v4
        with:
          registry-url: https://registry.npmjs.org/
          node-version: 16
      - run: npm ci
      - run: npm run rollup
      - run: npm publish
